<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="profile">
    <img *ngIf="!profileData.image" src="assets/imgs/profile-empty.png" alt="">
    <img *ngIf="profileData.image" [src]="profileData.image" alt="">

    <label id="#img">
      <input type="file" id="File" (change)="fileEvent($event)" size="60">
    </label>
    <button ion-button color="danger" icon-only>
      <ion-icon name="md-create"></ion-icon>
    </button>
    <P>Dzmitry DDB</P>

  </div>

  <ion-list>

    <ion-item>
      <ion-label stacked>User Name:</ion-label>
      <ion-input type="text" [(ngModel)]="profileData.userName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>User Email:</ion-label>
      <ion-input type="text" [(ngModel)]="profileData.userEmail" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>User Type:</ion-label>
      <ion-input type="text" [(ngModel)]="profileData.userType" disabled></ion-input>
    </ion-item>

    <ion-item >
      <ion-label stacked>Category:</ion-label>
      <ion-select multiple="true" cancelText="Cancel" okText="Okay!" [(ngModel)]="profileData.category">
        <ion-option *ngFor="let item of categoryList" [value]="item">{{item.itemName}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Phone:</ion-label>
      <ion-input type="tel" [(ngModel)]="profileData.phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Zip Code:</ion-label>
      <ion-input type="number" [(ngModel)]="profileData.zipCode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description:</ion-label>
      <ion-textarea rows="6" maxLength="500" [(ngModel)]="profileData.description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Distance (miles):</ion-label>
      <ion-input type="number" min="0" max="500" [(ngModel)]="profileData.distance"></ion-input>
    </ion-item>

    <ion-item >
      <ion-range min="0" max="500" [(ngModel)]="profileData.distance" color="secondary">
        <ion-label range-left>0</ion-label>
        <ion-label range-right>500 miles</ion-label>
      </ion-range>
    </ion-item>


  </ion-list>

  <button ion-button icon-left class="submit" (click)="save()">
    Save
  </button>

</ion-content>
