

// Fonts
@font-face {
  font-family: 'Play-Regular';
  src: url('../assets/fonts/play/Play-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Play-Bold';
  src: url('../assets/fonts/play/Play-Bold.ttf') format('truetype');
}

.custom-btn {
  // background-color: $primary-btn-background;
  padding: 17px 30px !important;
}
.cusToast{
  .toast-wrapper{
    background-color: #ed8e03;
    .toast-message{
      color: fff;
    }
  }
}
$start-bg: #82cadc;
$end-bg: #def6bf;
.toolbar-background{
  background-color: #82cadc;

}



