<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Admin</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <ion-segment class="segement_bar" [(ngModel)]="segValue" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="events">
            New Events
        </ion-segment-button>
        <ion-segment-button value="users">
            Users
        </ion-segment-button>
        <ion-segment-button value="approved">
            Approved Events
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="segValue">

        <div class="swtchTab" *ngSwitchCase="'events'">
            <ion-list>
                <ion-item-sliding *ngFor="let item of newEvents">
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img [src]="item.image">
                        </ion-thumbnail>
                        <h2>{{item.eventName}}</h2>
                        <p>{{item.location}}</p>
                        <p>{{item.eventDate | date:'dd-MM-yyyy HH:mm:ss'}}</p>
                        <button class="approved" ion-button color="secondary" clear icon-only item-end (click)="doApproveEvent(item.eventId)" >
                            <ion-icon name="ios-checkmark-circle"></ion-icon>
                        </button>
                    </ion-item>
                    <ion-item-options side="right">
                        <button color="danger" ion-button (click)="deleteItem(item, segValue)">
                            <ion-icon name="archive"></ion-icon>
                            Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>
        </div>

      <div class="swtchTab" *ngSwitchCase="'users'">
            <ion-list>
                <ion-item-sliding *ngFor="let item of allUsers">
                    <ion-item>
                        <ion-avatar item-start>
                            <img *ngIf="item.image" [src]="item.image">
                            <img *ngIf="!item.image" src="assets/imgs/profile-empty.png">
                        </ion-avatar>
                        <h2>{{item.userName}} ({{item.userId}})</h2>
                        <p>{{item.userEmail}}</p>
                        <button ion-button outline item-end>
                            {{item.userType}}
                        </button>
                    </ion-item>
                    <ion-item-options side="right" [hidden]="item.userType === 'admin'">
                        <button color="danger" ion-button (click)="delete(item)">
                            <ion-icon name="archive"></ion-icon>
                            Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>

        <div class="swtchTab" *ngSwitchCase="'approved'">
            <ion-list>
                <ion-item-sliding *ngFor="let item of allEvents">
                    <ion-item>
                        <ion-thumbnail item-start>
                            <img *ngIf="item.image" [src]="item.image">
                            <img *ngIf="!item.image" src="assets/imgs/profile-empty.png">
                        </ion-thumbnail>
                        <h2>{{item.eventName}} ({{item.eventId}})</h2>

                        <p>{{item.eventDate}}</p>
                        <p>{{item.location}}</p>
                        <button ion-button outline item-end >
                        {{item.userId}}
                        </button>
                    </ion-item>
                    <ion-item-options side="right" [hidden]="item.userType === 'admin'">
                        <button color="danger" ion-button (click)="delete(item)">
                        <ion-icon name="archive"></ion-icon>
                        Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>

    </div>



</ion-content>
