<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Create Event</ion-title>
    <ion-buttons end>
      <button ion-button (click)="save()">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="event-img">
    <img *ngIf="!eventData.image" src="assets/imgs/photo-empty.png" alt="">
    <img *ngIf="eventData.image" [src]="eventData.image" alt="">
    <label id="#img"><ion-icon name="md-create"></ion-icon>
      <input type="file" id="File" (change)="fileEvent($event)" size="60">
    </label>
  </div>

  <ion-list>
    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input type="text" [(ngModel)]="eventData.eventName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Category</ion-label>
      <ion-select [(ngModel)]="eventData.categoryId" multiple="true" cancelText="Nah" okText="Okay!">
        <ion-option *ngFor="let item of categoryList" [value]="item">{{item.itemName}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Location</ion-label>
    </ion-item>
    <ion-searchbar autocorrect="off" autocapitalize="off" spellcheck="off" #searchbar placeholder="Search..." class="search-box"></ion-searchbar>


    <ion-item>
      <ion-label stacked>Date Time</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY hh:mm: A" pickerFormat="MMM DD, YYYY hh:mm:A" [(ngModel)]="eventData.eventDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea rows="6" maxLength="500" [(ngModel)]="eventData.description"></ion-textarea>
    </ion-item>

  </ion-list>

  <button ion-button icon-left class="submit" (click)="save()">
    Save
  </button>
</ion-content>
